@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap');


body {
  width: 100%;
  margin: 0;
  padding: 0;
}


.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.gredient {
  background: linear-gradient(228.48deg, #f2ec3b 20.3%, #80f9c0 96.91%);

}



.btn-nav {
  background: linear-gradient(180deg, #f7de03 -67.82%, #ffa620);

}


.custpmizeCircle {
  left: 7vw;
  width: 31vw;
  height: 31vw;
  border-radius: 15rem;
  background: linear-gradient(228.48deg, #f2ec3b 20.3%, #80f9c0 96.91%);
  box-shadow: inset -10px -10px 40px hsla(0, 0%, 100%, .45), inset 10px 10px 20px rgba(0, 0, 0, .45);
}


.iconCircle {
    width: 8vw;
    height: 8vw;
    box-shadow: rgba(255, 255, 255, 0.45) -10px -10px 40px inset, rgba(0, 0, 0, 0.45) 10px 10px 20px inset;
    background: linear-gradient(228.48deg, rgb(242, 236, 59) 20.3%, rgb(128, 249, 192) 96.91%)
    
}